
body {
	min-width: 1195px;
}

ul.list1 .count {
	behavior: url(js/PIE.htc);
	position: relative;
	margin-right: 9px;
}

#form .invalid .error-message, 
#form .empty .empty-message {
	display: block;

}

#form .error-message, 
#form .empty-message {
	display: none;
}


a.gal:hover img {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=20);
}


.props img {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30);

}

.props a:hover img  {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}

.bq1:hover .bq_img img {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}

#owl .item a .capt {
	display: none;
}

#owl .item a:hover .capt {
	display: block;
}